on:
  push:
    tags: [ "*.*.*" ]
  workflow_dispatch:

jobs:
  nuget:
    uses: KestrelsDevelopment/Workflows/.github/workflows/dotnet-release.yml@main
    with:
      version: ${{ github.ref_name }}
      dotnet_version: "8.x"
      projects_glob: "*/*.csproj"
      exclude_globs: | 
        */*Demo*.csproj 
        */*Test*.csproj
      source: "https://nexus.kestrels.dev/repository/nuget-hosted/index.json"
      run_tests: true
      symbols: true
    secrets:
      api_key: ${{ secrets.NEXUS_API_KEY }}